# Node modules
node_modules/

# Environment variables
.env

# Log files
*.log
logs/

# OS-specific files
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/

# Build artifacts
dist/
coverage/

# Docker
*.local
docker-compose.override.yml